.companyProfile {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  &>div:first-child {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-md);
    background-color: var(--bg-lightblue);
    border-radius: var(--br-sm);
    padding: var(--p-lg);

    &>div:has(img) {
      flex-shrink: 0;
      width: 90px;
      height: 90px;
      aspect-ratio: 1;
      border-radius: var(--br-round);
      border: 1px solid black;
      align-content: center;

      &>img {
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: inherit;
        object-fit: contain;
      }
    }
  }
}

.profileTabs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  background-color: #eff8ff;
  border-radius: var(--br-sm);
  padding: var(--p-lg);

  & h3 {
    margin-block: var(--m-lg) var(--m-md);
    font-size: 18px;
  }

  & input,
  textarea {
    background-color: var(--bg-white);
  }
}

.companyInfo {
  composes: profileTabs;
  container-name: information;
  container-type: inline-size;

  &>div:first-child>h4 {
    margin-block: var(--m-lg) var(--m-md);
  }

  &>div:not(div:first-child) {
    display: flex;
    flex-direction: column;

    & span {
      font-weight: 500;
    }

    &>* {
      flex: 1 1;
      margin-block: var(--m-sm);
    }

    @container information (width>700) {
      flex-direction: row;
    }
  }
}

.accountSetting {
  composes: profileTabs;
  container-name: account;
  container-type: inline-size;

  &>form>div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);

    @container account (width>720px) {
      flex-direction: row;

      &>* {
        flex: 1 1;
      }
    }
  }

  & label {
    font-size: 14px;
  }

  & button {
    margin-block: var(--m-lg);
  }
}

.updateProfile {
  composes: profileTabs;
  composes: formSection from '../../../Styles/form.module.css';
}


.employerTabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &>div {
    color: var(--text-dark);
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    cursor: pointer;
    padding: var(--p-md) var(--p-lg);
    border-top-left-radius: var(--br-sm);
    border-top-right-radius: var(--br-sm);

    &:hover {
      background-color: #bae1ff;
    }
  }
}

.deleteAccount {
  svg {
    font-size: 20px;
  }

  &>div {
    margin-block: var(--m-lg);

    &>div {
      display: flex;
      align-items: center;
      gap: var(--gap-lg);
    }
  }
}

.fileUploadForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  &>img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    object-fit: center;
  }

  & input[type="file"] {
    &::-webkit-file-upload-button {
      border: none;
      padding: var(--p-sm) var(--p-md);
      background-color: var(--primary);
      color: var(--text-white);
      border-radius: var(--br-sm);
    }
  }

  & span {
    font-size: 14px;
    color: var(--error);
  }
}