.employerContainer {
  display: flex;
  position: relative;
  gap: var(--gap-md);
  height: calc(100vh - 80px);

  &>* {
    background-color: var(--bg-white);
    /* padding: var(--p-lg); */
    /* border-radius: var(--br-sm); */
  }
}

.employerSideBar {
  padding: var(--p-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  position: absolute;
  width: 250px;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 2px solid var(--bg-light-3);

  @media (min-width:800px) {
    position: relative;
    padding: 0;
  }

  &>div:first-of-type {
    margin-top: var(--m-lg);
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    &>* {
      padding: var(--p-md) var(--p-lg);
      font-size: 15px;
      color: var(--text-light);
      font-weight: 500;
      display: flex;
      gap: var(--gap-md);
      align-items: center;

      &>svg {
        font-size: 20px;
      }

      &:hover {
        background-color: #ddefff;
      }
    }
  }

  &>button {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: center;
    margin-block: var(--m-lg);
    padding-left: var(--p-lg);
    align-self: flex-start;
  }
}

.sidebarBtn {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--text-white);
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.closeBtn {
  border-top-left-radius: var(--br-round);
  border-bottom-left-radius: var(--br-round);
  top: 10px;
  right: 0;
}

.openBtn {
  top: 10%;
  left: 0;
  border-top-right-radius: var(--br-round);
  border-bottom-right-radius: var(--br-round);
}

.contentContainer {
  flex: auto;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;

  @media (min-width: 800px) {
    margin-inline: var(--m-xl);
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);

  &>div:first-child {
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &>div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-lg);

    &>* {
      font-size: 16px;
      width: 180px;
      aspect-ratio: 3/2;
      font-weight: 500;
      padding: var(--p-2xl);
      background-color: #d2e3fa;
      border-radius: var(--br-sm);
      text-align: center;

      &>span {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}