.jobApplicationTable {
  overflow-x: scroll;
  scrollbar-width: none;
}

.jobApplicationContainer {
  min-width: 100%;
  width: 800px;
  margin-block: var(--m-lg);
}

.jobApplicationRow {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--p-xl);
  box-shadow: inset 0px 0px 0px 2px var(--bg-light-2);

  &:hover {
    box-shadow: inset 0px 0px 3px 2px var(--bg-light-3);
    border-radius: var(--br-md);
  }

  & span {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-light);
  }

  &>div:first-child {
    flex: auto;
    display: flex;
    gap: var(--gap-md);
    align-items: center;

    &>div:has(img) {
      flex: none;
      width: 56px;
      height: 56px;
      border-radius: var(--br-sm);
      background-color: var(--bg-light-3);
      aspect-ratio: 1;
      align-content: center;

      &>img {
        width: 90%;
        height: 90%;
        object-fit: contain;
        margin: auto;
      }
    }
  }

  &>div:last-of-type {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    margin-right: var(--m-2xl);

    &>span {
      color: inherit;
    }
  }
}

.iconBox {
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
  flex-wrap: wrap;

  & svg {
    font-size: 18px;
    color: var(--text-light);
  }

  &>div {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
  }
}

.candidateDetail {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);

  &>h3 {
    font-size: 20px;
  }

  &>div:first-child {
    display: flex;
    align-items: center;
    gap: var(--gap-md);

    &>div {
      display: flex;
      align-items: center;
      gap: var(--gap-sm);
      font-size: 14px;
      font-weight: bold;
      background-color: rgba(0, 72, 255, 0.191);
      color: var(--primary);
      border-radius: var(--br-sm);
      padding: var(--p-sm) var(--p-md);
    }
  }
}

.expire {
  &>* {
    color: red !important;
  }
}