.bottomPanelCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding: var(--p-lg);
  border-radius: var(--br-sm);

  @media (min-width:700px) {
    padding: var(--p-2xl);
  }

  &>p {
    margin-block: var(--m-md);
    text-wrap: balance;
  }

  & button {
    margin-block: var(--m-md);
  }
}

.bottomPanelCard:nth-of-type(2) {
  color: var(--text-white);

  & button {
    color: var(--text-white);
    box-shadow: inset 0px 0px 0px 2px var(--text-white);
  }
}

.bottmPanel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  @media (min-width:700px) {
    flex-direction: row;
    gap: var(--gap-xl);
  }
}