.forgetPasswordContainer {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgetPassword {
  max-width: 500px;
  width: 450px;
  box-shadow: 0px 0px 4px .5px var(--bg-light-3);
  padding: var(--p-lg);
  border-radius: var(--br-md);

  @media (min-width:768px) {
    padding: var(--p-xl) var(--p-2xl);
  }
}

.newPassword {
  margin-block: var(--m-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  &>label {
    font-size: 14px;
    color: var(--text-light);
    margin-block-end: var(--m-sm);
  }

  & button {
    margin-block-start: var(--m-lg);
  }

  span {
    font-size: 12px;
    color: var(--error);
  }
}