.profileAvatar {
  width: 42px;
  height: 42px;
  aspect-ratio: 1;
  border-radius: var(--br-round);
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  &>img {
    width: 90%;
    height: 90%;
    border-radius: inherit;
  }
}