.job-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--p-lg);
  border-radius: var(--br-sm);
  background-image: linear-gradient(to right, #fff9ef, #FFFFFF);
  box-shadow: 0px 0px 3px 0px var(--bg-light-3);

  &:hover {
    background-image: linear-gradient(to right, #e1eeff, #FFFFFF);
    box-shadow: 0px 0px 3px 1px var(--bg-light-3);
  }

  &>h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-dark);
  }

  &>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: var(--m-md);

    & span {
      font-size: 14px;
      font-weight: bold;
      color: var(--text-light)
    }

    &>div {
      display: flex;
      gap: var(--gap-sm);

      & span {
        font-size: 12px;
        padding: var(--p-sm);
        border-radius: var(--br-sm);
        color: var(--success);
        background-color: #d9f0de;
      }

      span:nth-child(2) {
        color: var(--primary);
        background-color: #d4e4ff;
      }
    }
  }
}

.saveBtn {
  background-color: #f8f8f8;
  width: 42px;
  height: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-lg);
  cursor: pointer;

  &:hover {
    background-color: #c2d9ff;
  }
}

.companyInfo {
  margin-block-start: var(--m-lg);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  justify-content: space-between;

  &>div:has(img) {
    width: 52px;
    height: 52px;
    aspect-ratio: 1;
    border-radius: var(--br-sm);
    background-color: var(--bg-white);
    padding: var(--p-sm);

    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: hard-light;
    }
  }

  &>div:nth-of-type(2) {
    flex: auto;

    &>div {
      display: flex;
      gap: var(--gap-md);
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: var(--text-light);
    }
  }
}