.modal {
  margin: auto;
  border-radius: var(--br-md);
  max-width: 600px;
  padding: var(--p-lg);
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  @media (min-width:768px) {
    padding: var(--p-xl);

  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &>div:last-child {
    display: flex;
    gap: var(--gap-lg);
    align-items: center;
    justify-content: flex-end;
  }
}