@font-face {
  font-family: 'Poppins';
  src: url('../../Public/font/Poppins-Regular.woff') format('woff2'),
    url('../../Public/font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../Public/font/Poppins-Medium.woff') format('woff2'),
    url('../../Public/font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../Public/font/Poppins-Bold.woff') format('woff2'),
    url('../../Public/font/Poppins-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

/*
main {
  max-width: 1400px;
  margin-inline: auto;
} */

:root {
  /* colors */
  --success: #0BA02C;
  --error: #ff2600;
  --primary: #003cff;
  --bg-light: #F9F9F9;
  --bg-light-2: #F8F8Fa;
  --bg-light-3: #E0E0E0;
  --bg-lightblue: #F4FAFF;
  --bg-white: #FFFFFF;
  --bg-dark: #040a1b;
  --text-dark: #202020;
  --text-light: #494949;
  --text-x-light: #777676;
  --text-white: #FFFFFF;

  /* border-radius */
  --br-sm: .25rem;
  --br-md: .5rem;
  --br-lg: 1rem;
  --br-round: 50%;
  /* gaps */
  --gap-sm: .5rem;
  --gap-md: .75rem;
  --gap-lg: 1rem;
  --gap-xl: 1.5rem;

  /* padding */
  --p-sm: .25rem;
  --p-md: .5rem;
  --p-lg: 1rem;
  --p-xl: 1.5rem;
  --p-2xl: 2rem;

  /* margin */
  --m-sm: .25rem;
  --m-md: .5rem;
  --m-lg: 1rem;
  --m-xl: 1.5rem;
  --m-2xl: 2rem;
}

.heading {
  font-size: 30px;
  font-weight: bold;

  &>span {
    color: var(--primary);
  }

  @media (max-width:600px) {
    font-size: 1.5rem;
  }
}

ul>li,
ol>li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding: 1rem;

  @media (min-width:1024px) {
    padding: 1.5rem;
  }
}

.inner-container {
  margin-block: var(--m-xl);

  @media (min-width:1024px) {
    margin-block: var(--m-2xl);
  }
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  resize: none;
  font-size: 15px;
  width: 100%;
  border: 1.5px solid rgb(188, 188, 188);
  border-radius: var(--br-sm);
  padding: var(--p-md) var(--p-lg);
  background-color: var(--bg-white);

  &::placeholder {
    font-size: 16px;
    color: var(--text-x-light)
  }

  &:focus {
    border: 1.5px solid var(--bg-dark);
  }

  @media (min-width:1024px) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 18px;
  color: var(--text-dark);
}

.btn {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: .5rem 1rem;
  border-radius: var(--br-sm);
  background-color: transparent;

  &:disabled {
    background-color: var(--bg-light-3);
    color: var(--text-dark);
  }

}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-white);

  &:hover {
    background-color: #161286;
    color: var(--text-white);
  }

  &:focus {
    outline: 1px solid var(--primary);
    outline-offset: 2px;
  }
}



.btn-secondary {
  color: var(--primary);
  box-shadow: inset 0px 0px 0px 2px var(--primary);
}

.btn-tertiary {
  color: var(--primary);
}

.btn-danger {
  background-color: var(--error);
  color: var(--text-white);

  &:hover {
    background-color: #d92303;
  }

  &:focus {
    outline: 1px solid var(--error);
    outline-offset: 2px;
  }
}


.tx-center {
  text-align: center;
}

.card {
  padding: var(--p-md);
  border-radius: var(--br-sm);
  background-color: var(--bg-light-2);
}

.active-btn {
  background-color: var(--bg-dark) !important;
  color: var(--text-white) !important;
}

.active {
  color: var(--primary) !important;
}

.activePage {
  background-color: var(--bg-dark) !important;
  color: var(--text-white) !important;
}

.activeTab {
  background-color: #d4eaff;
  border-left: 5px solid var(--primary);
}

.flex-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}

.activeEmployerTab {
  box-shadow: inset 0px 0px 0px 1px var(--bg-dark) !important;
}

.block-sub-heading {
  font-size: 15px;
  color: var(--text-light);
  text-wrap: balance;
  font-weight: 500;
  text-align: center;
}

.loaderContainer {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}