.filterBar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: var(--p-lg);
  border: 1px solid var(--bg-light-3);
  border-radius: var(--br-sm);

  @media (min-width:1024px) {
    height: auto;
    position: static;
    z-index: 0;
  }
}

.filterCloseBtn {
  display: flex;
  justify-content: end;
}

.applyBtn {
  margin-block: var(--m-lg);
  display: flex;
  justify-content: center;
  gap: var(--gap-xl)
}

.fitlerOptionGroup {
  padding-block: var(--m-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  border-bottom: 2px solid var(--bg-light-3);

  &>h3 {
    font-size: 1rem;
    color: var(--primary);
  }

  &>label {
    padding: var(--p-sm) var(--p-md);
    border-radius: var(--br-sm);
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    font-size: 15px;

    &:hover {
      background-color: rgb(209, 230, 255);
    }

    &>input {
      width: fit-content;
      accent-color: var(--primary);
    }

    &>span {
      flex: auto;
    }
  }
}