.jobContainer {
  margin-block: var(--m-lg);
  position: relative;
  display: block;
  gap: var(--gap-lg);

  &>div:last-child {
    flex: auto;
  }

  @media (min-width:700px) {
    margin-block: var(--m-xl);
  }

  @media (min-width:1024px) {
    display: flex;
  }
}

.jobCardContainer {
  container-name: jobCardBox;
  container-type: inline-size;
}

.jobCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-lg);
  justify-content: center;

  @container jobCardBox (width>600px) {
    grid-template-columns: 1fr 1fr;
  }

  @container jobCardBox (width>1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.JobSearchBar {
  border: 2px solid var(--bg-light-3);
  background-color: var(--bg-white);
  display: flex;
  margin-block-end: var(--m-xl);
  flex-direction: column;
  padding: var(--p-md) var(--p-lg);
  border-radius: var(--br-sm);
  gap: var(--gap-md);

  @media (min-width:600px) {
    flex-direction: row;

    &>*:not(hr, button) {
      flex: auto;
    }
  }

  &>label {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);

    &>input {
      border: none;
    }
  }
}

.paginationBlock {
  margin-block: var(--m-2xl);
  display: flex;
  gap: var(--gap-md);
  align-items: center;
  justify-content: center;

  &>div {
    width: 32px;
    aspect-ratio: 1;
    text-align: center;
    padding: var(--p-sm);
    border-radius: var(--br-round);
    background-color: var(--bg-light-2);
  }


  &>button {
    aspect-ratio: 1;
    border-radius: var(--br-round);
  }
}